.contact-container {
    width: 100%;
    height: 100%;
}

.contact-content {
    width: 60%;
    margin: 3.5rem auto 0;
    display: flex;
    justify-content: space-around;

    background-color: var(--offwhite);
    padding: 2rem;
    border-radius: 3rem 1rem 5rem 6rem;
    box-shadow: 0.6rem 0.2rem 0.3rem rgba(106, 116, 103, 0.678);
}

.groom {
    margin: auto;
    text-align: center;
}

.hr {
    color: rgba(106, 116, 103, 0.466);
    height: 15rem;
    margin: auto;
}

.bride {
    margin: auto;
    text-align: center;
}

.contact-text {
    margin: auto;
    width: 78%;
    padding: 0.3rem 0;

    color: var(--greentext);
}

.whatsapp {
    text-decoration: none;
    color: var(--greentext);
    font-weight: bold;

    margin-left: 0.22rem;
}

.whatsapp:hover {
    text-decoration: underline;
    transition: all 0.2s ease-in;
}

.contact-title {
    text-align: center;
    color: var(--greentext);
    font-size: 1rem;
    padding: 0;
    margin-top: -0.1rem;
    letter-spacing: 0.2rem;
}

.groom-img,
.bride-img {
    width: 10rem;
    clip-path: circle(50% at 50% 50%);
}

/* MEDIA ________________________________________________________________________*/
@media screen and (max-width: 428px) {
    .contact-content {
        width: 75%;
    }

    .groom-img,
    .bride-img {
      width: 7rem;  
    }
    
    .contact-title {
        font-size: 0.9rem;
    }

    .contact-text {
        font-size: 0.87rem;
        line-height: 1.15rem;
    }
}

@media screen and (width: 375px) {
    .contact-content {
        width: 76%;
    }

    .groom-img,
    .bride-img {
      width: 6.5rem;  
    }

    .contact-title {
        font-size: 0.85rem;
    }

    .contact-text {
        font-size: 0.85rem;
    }
}

@media screen and (width: 360px) {
    .contact-content {
        width: 76%;
    }

    .groom-img,
    .bride-img {
      width: 6rem;  
    }

    .contact-title {
        font-size: 0.85rem;
    }

    .contact-text {
        font-size: 0.86rem;
    }
}

@media screen and (width: 320px) {
    .contact-content {
        width: 74%;
    }

    .groom-img,
    .bride-img {
      width: 5.6rem;  
    }

    .contact-title {
        font-size: 0.84rem;
    }

    .contact-text {
        width: 90%;
        font-size: 0.85rem;
    }
}
