@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap");

.input-container {
    width: 100%;
    margin-bottom: 10rem;
}

.input-content {
    margin: 1.5rem auto 0;
    display: flex;
    width: 50%;

    background-color: var(--greentext);
    border-radius: 2rem;
    box-shadow: -0.6rem 0.2rem 0.3rem rgba(106, 116, 103, 0.678);
}

.group {
    margin: inherit;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.input-title {
    color: var(--offwhite);
    font-family: "The Nautigal", cursive;
    font-size: 3.1rem;
    text-align: center;
    margin: 0;
}

.input-group {
    margin: 1.5rem auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.label {
    margin: 1rem auto 0;
    display: flex;
    width: 89%;
    align-items: left;

    font-size: 0.9rem;
    color: var(--greentext);
    background-color: var(--offwhite);
    border-radius: .3rem .3rem 0 0;
    font-weight: bold;
}

.section {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.input-name {
    width: 15rem;
    height: 1.3rem;
    border-radius: 0.3rem;
    border: .15rem solid #474d46;

    color: var(--greentext);
}

.btn-add-span {
    padding: 0 0.2rem 0;
    border: none;
    border-radius: 0.3rem;

    background-color: var(--offwhite);
    color: var(--greentext);
    font-size: 0.7rem;
}

.box {
    width: 100%;
    justify-self: left;
    display: inherit;
    flex-direction: inherit;
    margin: 0.7rem 0 0;
}

.box input {
    border-radius: 0.3rem;
    margin: 0 auto 1rem;
    width: 15rem;
    height: 1.3rem;
    outline: none;

    color: var(--greentext);
}

.add-form {
    width: 1.5rem;
    border: none;
    border-radius: 0.5rem;

    background-color: var(--offwhite);
    color: var(--greentext);
    font-size: 1rem;
    cursor: pointer;
}

.add-form:hover {
    background-color: rgba(203, 214, 200, 0.884);
    color: var(--greentext);
    border: .5px solid var(--offwhite);
}

.toolkit {
    margin-top: 1rem;
    color: var(--offwhite);
    font-size: 0.7rem;
}

.confirm-btn {
    margin: 1.3rem 0;
    width: 8rem;
    height: 2rem;
    background-color: #fff;
    border: none;
    border-radius: 0.5rem 0.1rem 0.5rem 0.1rem;
    color: var(--greentext);
    cursor: pointer;
}

.confirm-btn:hover {
    font-weight: bold;
    background-color: var(--offwhite);
    transition: all 0.3s ease-in;
}

/* Media __________________________________________________________________________________*/
@media screen and (max-width: 428px) {
    .input-content {
        width: 85%;
    }

    .input-title {
        font-size: 2.8rem;
    }

    .label {
        font-size: 0.85rem;
        width: 98.2%;
    }

    .add-form {
        width: 1.8rem;
    }
}

@media screen and (width: 360px) {
    .input-content {
        width: 90%;
    }

    .input-title {
        font-size: 2.8rem;
    }

    .label {
        font-size: 0.85rem;
    }

    .add-form {
        width: 1.8rem;
    }
}

@media screen and (width: 320px) {
    .input-content {
        width: 90%;
    }

    .input-title {
        font-size: 2.5rem;
    }

    .label {
        font-size: 0.83rem;
        width: 98.8%;
    }

    .box {
        width: 100%;
    }

    .add-form {
        width: 1.8rem;
    }
}
