.modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #252525a8;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    z-index: 2;
    background-color: var(--offwhite);
    border: 0.2rem solid var(--greentext);
    width: 23rem;
    height: auto;
    border-radius: 1rem 2rem 1rem 2rem;
}

.close {
    background-color: transparent;
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    right: calc(-100% + 40px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:before,
    &:after {
        content: " ";
        position: absolute;
        width: 0.2rem;
        height: 1.1rem;
        background-color: var(--greentext);
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

// MEDIA ______________________________________________________________________________________
@media screen and (max-width: 428px) {
    .modal {
        height: 126.5vh;

        .modal-container {
            width: 90%;

            .close {
                right: calc(-100% + 45px);
                margin-bottom: 0.3rem;

                &:before,
                &:after {
                    height: 1.5rem;
                }
            }
        }
    }
}

@media screen and (width: 414px) {
    .modal-container {
        width: 93%;

        .close {
            right: calc(-100% + 45px);
            margin-bottom: 0.3rem;

            &:before,
            &:after {
                height: 1.2rem;
            }
        }
    }
}

@media screen and (width: 412px) {
    .modal-container {
        width: 93%;

        .close {
            right: calc(-100% + 45px);
            margin-bottom: 0.3rem;

            &:before,
            &:after {
                height: 1.2rem;
            }
        }
    }
}
@media screen and (width: 412px) and (height: 732px) {
    .modal {
        height: 131.3vh;

        .modal-container {
            width: 93%;

            .close {
                right: calc(-100% + 45px);
                margin-bottom: 0.3rem;

                &:before,
                &:after {
                    height: 1.2rem;
                }
            }
        }
    }
}

@media screen and (width: 411px) {
    .modal-container {
        width: 93%;

        .close {
            right: calc(-100% + 45px);
            margin-bottom: 0.3rem;

            &:before,
            &:after {
                height: 1.2rem;
            }
        }
    }
}
@media screen and (width: 411px) and (height: 731px) {
    .modal {
        height: 131.4vh;

        .modal-container {
            width: 93%;

            .close {
                right: calc(-100% + 45px);
                margin-bottom: 0.3rem;

                &:before,
                &:after {
                    height: 1.2rem;
                }
            }
        }
    }
}

@media screen and (width: 384px) {
    .modal {
        height: 127.5vh;

        .modal-container {
            width: 93%;

            .close {
                right: calc(-100% + 45px);
                margin-bottom: 0.3rem;

                &:before,
                &:after {
                    height: 1.2rem;
                }
            }
        }
    }
}

@media screen and (width: 384px) and (height: 640px) {
    .modal {
        height: 150.1vh;

        .modal-container {
            width: 93%;

            .close {
                right: calc(-100% + 45px);
                margin-bottom: 0.3rem;

                &:before,
                &:after {
                    height: 1.2rem;
                }
            }
        }
    }
}

@media screen and (width: 375px) {
    .modal {
        height: 129.3vh;

        .modal-container {
            width: 93%;

            .close {
                right: calc(-100% + 45px);
                margin-bottom: 0.3rem;

                &:before,
                &:after {
                    height: 1.2rem;
                }
            }
        }
    }
}
@media screen and (width: 375px) and (height: 667px) {
    .modal {
        height: 144vh;

        .modal-container {
            width: 93%;

            .close {
                right: calc(-100% + 45px);
                margin-bottom: 0.3rem;

                &:before,
                &:after {
                    height: 1.2rem;
                }
            }
        }
    }
}

@media screen and (width: 360px) {
    .modal {
        height: 134vh;

        .modal-container {
            width: 93%;

            .close {
                right: calc(-100% + 45px);
                margin-bottom: 0.3rem;

                &:before,
                &:after {
                    height: 1.2rem;
                }
            }
        }
    }
}

@media screen and (width: 360px) and (height: 640px) {
    .modal {
        height: 150.2vh;

        .modal-container {
            width: 93%;

            .close {
                right: calc(-100% + 45px);
                margin-bottom: 0.3rem;

                &:before,
                &:after {
                    height: 1.2rem;
                }
            }
        }
    }
}

@media screen and (width: 320px) {
    .modal {
        height: 169.2vh;

        .modal-container {
            width: 93%;

            .close {
                right: calc(-100% + 43px);
                margin-bottom: 0.3rem;

                &:before,
                &:after {
                    height: 1.2rem;
                }
            }
        }
    }
}
