.header-container {
    width: 100%;
    background-color: var(--offwhite);
}

.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 3.5rem;
    margin: auto;
}

.nav-link {
    width: auto;
    padding: .8rem .5rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--greentext);
}

.nav-link:hover {
    background-color: var(--greentext);
    border-radius: .8rem .1rem .8rem .1rem;
    color: var(--offwhite);
    transition: all 0.4s ease-in-out;
}