.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--offwhite);
    height: 4.2rem;

    .toolbar-navigation {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 1rem;

        .toolbar-logo {
            margin-left: 4.5rem;

            .logo-img {
                height: 4.3rem;
                width: 4.3rem;
            }

            a {
                color: var(--greentext);
                text-decoration: none;
                font-size: 2rem;
            }
        }

        .spacer {
            flex: 0.38;
        }

        .toolbar-navigation-items {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
            }

            li {
                padding: 0 0.8rem;
            }

            a {
                color: var(--greentext);
                text-decoration: none;
                list-style-type: none;
                padding: 1.15rem 0.3rem;
            }

            a:hover {
                background-color: var(--greentext);
                border-radius: 0.3rem 1rem 0.3rem 1rem;
                color: var(--offwhite);
                transition: all 0.3s ease-in;
            }
        }
    }
}

// MEDIA______________________________________________________________________________________
@media screen and (width: 810px) {
    .toolbar {
        .toolbar-navigation {
            .toolbar-logo {
                margin: 0;

                .logo-img {
                    width: 3.7rem;
                }
            }

            .toolbar-navigation-items {
                a {
                    font-size: 0.87rem;
                    padding: 0 0 0.1rem;
                }
            }
        }
    }
}

@media screen and (width: 800px) {
    .toolbar {
        .toolbar-navigation {
            .toolbar-logo {
                margin: 0;

                .logo-img {
                    width: 3.7rem;
                }
            }

            .toolbar-navigation-items {
                a {
                    font-size: 0.87rem;
                    padding: 0 0 0.1rem;
                }
            }
        }
    }
}

@media screen and (width: 768px) {
    .toolbar {
        .toolbar-navigation {
            align-items: center;
            .toolbar-logo {
                margin: 0;
            }

            .toolbar-navigation-items {
                a {
                    font-size: 0.87rem;
                    padding: 0 0 0.1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .toolbar {
        .toolbar-navigation {
            .toolbar-logo {
                width: 100%;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                .logo-img {
                    width: 3.5rem;
                }
            }
            .toolbar-navigation-items {
                display: none;
            }
        }
    }
}
