.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--offwhite);
    height: 3.5rem;

    .toolbar-navigation {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 1rem;

        .toolbar-logo {
            margin-left: 1rem;
            
            a {
                color: var(--greentext);
                text-decoration: none;
                font-size: 2rem;
            }
        }

        .spacer {
            flex: .4;
        }

        .toolbar-navigation-items {
            ul {
                list-style: none; 
                margin: 0; 
                padding: 0; 
                display: flex;
            }

            li {
                padding: 0 .5rem;
            }

            a {
                color: var(--greentext);
                text-decoration: none;
                list-style-type: none;
            }
            
            a:hover {
                background-color: var(--greentext);
                color: var(--offwhite);
            }
        }
    }
    
    @media screen and (max-width: 480px) {
        .toolbar-navigation-items {
            display: none;
        }
    }
}
