.side-menu {
    height: 100%;
    background-color: var(--greentext);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 25rem;
    z-index: 200;

    .close {
        background-color: transparent;
        outline: none;
        border: none;
        width: 32px;
        height: 32px;
        right: calc(-100% + 40px);
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
        &:before,
        &:after {
            content: " ";
            position: absolute;
            width: 0.2rem;
            height: 1.1rem;
            background-color: var(--offwhite);
        }
    
        &:before {
            transform: rotate(45deg);
        }
    
        &:after {
            transform: rotate(-45deg);
        }
    }
    
    ul {
        height: 25%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    li {
        margin: .5rem 0;   
    }
    
    a {
        color: rgb(248, 200, 243);
        text-decoration: none;
        font-size: 1.2rem;
    }
    
    a:hover,
    a:active {
        color: var(--offwhite);
    }
}




