@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap");

.add-container {
    width: 100%;
}

.add-title {
    text-align: center;
    font-family: "The Nautigal", cursive;
    font-size: 3.1rem;
    color: var(--greentext);
}

.add-content {
    width: 100%;
    margin: auto;
}

.add-section {
    width: 60%;
    height: 25rem;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;


    background-color: var(--offwhite);
    border-radius: 2rem;
    box-shadow: 0.6rem 0.2rem 0.3rem rgba(106, 116, 103, 0.678);
}

iframe {
    width: 25rem;
    height: 20rem;
    margin: auto;
    border: .3rem solid var(--greentext);
    border-radius: 0 0 .8rem 0;
}

.add-text {
    width: 100%;
    margin-top: 1.02rem;
}

.section-title {
    color: var(--offwhite);
    background-color: var(--greentext);

    font-weight: bold;
    font-size: 1.2rem;
}

.section-paragraph {
    margin: auto;
    width: 60%;
    color: var(--greentext);
}

/* MEDIA _____________________________________________________________________________  */
@media screen and (width: 1440px) {
    .add-title {
        font-size: 2.5rem;
    }

    .add-section {
        width: 56%;
    }

    .add-text {
        margin-top: 1.2rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .section-paragraph {
        font-size: 0.9rem;
        width: 80%;
    }
}

@media screen and (width: 1024px) {
    .add-title {
        font-size: 2.5rem;
    }

    .add-section {
        width: 79%;
    }

    .add-text {
        margin-top: 1.2rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .section-paragraph {
        font-size: 0.9rem;
        width: 80%;
    }
}

@media screen and (width: 810px) {
    .add-title {
        font-size: 2.5rem;
    }

    .add-section {
        width: 90%;
    }

    .add-text {
        margin-top: 1.2rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .section-paragraph {
        font-size: 0.9rem;
        width: 80%;
    }
}

@media screen and (width: 800px) {
    .add-title {
        font-size: 2.5rem;
    }

    .add-section {
        width: 90%;
    }

    .add-text {
        margin-top: 1.2rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .section-paragraph {
        font-size: 0.9rem;
        width: 80%;
    }
}

@media screen and (width: 768px) {
    .add-title {
        font-size: 2.5rem;
    }

    .add-section {
        width: 90%;
    }

    .add-text {
        margin-top: 1.2rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .section-paragraph {
        font-size: 0.9rem;
        width: 80%;
    }
}

@media screen and (max-width: 428px) {
    .add-title {
        font-size: 2.5rem;
    }

    .add-section {
        width: 90%;
        height: 30rem;
        display: block;
    }

    iframe {
        width: 90%;
        height: 50%;
        margin-top: 1rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .section-paragraph {
        font-size: 0.9rem;
        width: 80%;
    }
}

@media screen and (width: 320px) {
    .add-title {
        font-size: 2.5rem;
    }

    .add-section {
        width: 93%;
    }

    iframe {
        width: 90%;
        height: 55%;
        margin-top: 1rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .section-paragraph {
        font-size: 0.8rem;
        width: 80%;
    }
}
