.footer-container {
    width: 100%;
    bottom: 0;
    position: fixed;
}

.footer-content {
    margin: auto;
    width: 100%;
}

.text {
    text-align: center;
    align-items: center;
    justify-content: center;

    font-size: .8rem;
    color: var(--greentext);
}

span {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}