.chosen-gifts {
    span {
        color: var(--greentext);
        font-size: 1.2rem;
    }

    ul {
        margin: 1rem auto;
        background-color: var(--greentext);
        padding: 0;

        text-align: center;
        list-style: none;
        line-height: 1.4rem;
        color: var(--offwhite);
    }

    .gift-confirmation-form {
        margin: 0.3rem auto 0;
        width: 19rem;
        height: 8rem;

        display: flex;
        flex-direction: column;

        label {
            background-color: var(--greentext);
            border-radius: 0.3rem 0.3rem 0 0;

            color: var(--offwhite);
            font-weight: bold;
        }

        input {
            width: 18.48rem;
            height: 1.3rem;
            border-radius: 0 0 0.3rem 0.3rem;
            margin-bottom: 1rem;
            outline: none;
            border: 0.15rem solid var(--greentext);
            color: var(--greentext);
        }

        button {
            width: 8rem;
            height: 2rem;
            margin: auto;
            background-color: var(--greentext);
            color: var(--offwhite);
            border: none;
            border-radius: 0.5rem 0.1rem 0.5rem 0.1rem;
            cursor: pointer;
        }

        button:hover {
            font-weight: bold;
            transition: all 0.3s ease-in;
            background-color: #474d46;
            border: 0.1rem solid var(--greentext);
            color: var(--offwhite);
        }
    }
}

// MEDIA _________________________________________________________________________________
@media screen and (width: 320px) {
    .chosen-gifts {
        .gift-confirmation-form {
            margin: auto;

            label {
                margin: 0 auto 0;
                width: 92.6%;
            }
            
            input {
                margin: 0 auto 0;
                width: 90%;
            }
        }
    }
}
