@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --offwhite: #f3f0e1;
  --greentext: #6a7467;
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f4f3f7,
    #e8e8f0,
    #dcdce8,
    #cfd1e1,
    #d2cedf,
    #d6ccdc,
    #dac9d8,
    #e9d0d6,
    #f1dad5,
    #f4e5d8,
    #f3f0e1
  ); */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
