@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap");

.gift-container {
    width: 68%;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 1.5rem auto;

    background-color: var(--greentext);
    box-shadow: -0.6rem 0.2rem 0.3rem rgba(106, 116, 103, 0.678);
    border-radius: 2rem 3rem 5rem 1rem;
}

.donates-title {
    font-family: "The Nautigal", cursive;
    color: var(--offwhite);
    font-size: 3.1rem;
}

.donates-container {
    margin: auto;
    text-align: center;
    height: 25rem;
    width: 90%;
}

.donates-content {
    margin: auto;
    width: 90%;
}

.donates-p1 {
    color: var(--offwhite);
}

.donates-keys {
    margin: auto;
    width: 12rem;
    background-color: #474d46;
}

.donates-keys p {
    color: var(--offwhite);
    font-weight: bold;
    letter-spacing: .1rem;
}
