@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap");

.gift-container {
    width: 68%;
    height: 35rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 1.5rem auto;

    background-color: var(--greentext);
    box-shadow: -0.6rem 0.2rem 0.3rem #6a7467ad;
    border-radius: 2rem 3rem 5rem 1rem;
}

.donates-container {
    margin: auto;
    text-align: center;
    height: 25rem;
    width: 90%;
}

.donates-title {
    font-family: "The Nautigal", cursive;
    color: var(--offwhite);
    font-size: 3.1rem;
}

.donates-content {
    margin: auto;
    width: 90%;
}

.donates-p1 {
    color: var(--offwhite);
}

.donates-keys {
    margin: auto;
    width: 12rem;
    background-image: radial-gradient(
        circle,
        #474d46,
        #4d544c,
        #545b52,
        #5a6359,
        #616a5f,
        #697367,
        #727c6f,
        #7a8577,
        #879283,
        #94a090,
        #a1ad9d,
        #aebbaa
    );
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.pix-paragraph {
    color: var(--offwhite);
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.show {
   transition: all 0.3s ease-in-out;
}

.show-hidden-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.show {
    color: var(--offwhite);
}

.pix {
    filter: blur(0.2rem);
}

/* MEDIA ______________________________________________________________ */
@media screen and (width: 1024px) {
    .gift-container {
        width: 85%;
        height: 25rem;
        padding-bottom: 5rem;
    }
}

@media screen and (width: 810px) {
    .gift-container {
        width: 85%;
        height: 25rem;
        padding-bottom: 5rem;
    }
}

@media screen and (width: 800px) {
    .gift-container {
        width: 88%;
        height: 25rem;
        padding-bottom: 5rem;
    }
}

@media screen and (width: 768px) {
    .gift-container {
        width: 85%;
        height: 25rem;
        padding-bottom: 5rem;
    }
}


@media screen and (max-width: 428px) {
    .gift-container {
        display: flex;
        flex-direction: column;
        height: 53rem;
        width: 93%;
        border-radius: 1rem;
        margin-bottom: 3rem;
    }

    .donates-container {
        height: 16rem;
    }

    .donates-title {
        font-size: 2.5rem;
    }
}
